@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-1: black;
    --text-color: #f0f0f0;
    --accent-color: #2b2b33;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12pt;
    font-family: Poppins, 'Segoe UI', Tahoma, sans-serif;
    scroll-behavior: smooth;
}
nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.logo{
  padding-left: 5px;
}
.nav-title{
    color: #7fc241;
    padding-left: 10px;
    margin-right: auto;
    width: 200px !important;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color)
}
nav a:hover{
    background-color: var(--accent-color);
    
}
nav .home-link{
    margin-left: auto;
}
nav svg{
    fill: var(--text-color)
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
@media(max-width: 600px){
    .links-container{
        
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 250px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.5s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: center;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
        cursor: pointer;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .viewer-container{
        flex-direction: column !important;

        align-items: center;
        height: 40rem !important;
        width: 90% !important;
    }
    .viewer-container img:hover{
        width: 100% !important;
        height: 400% !important;
        margin-top: 0 !important;
    }

#home{
    padding-top: 80px !important;
}

}
#home{
    padding-top: 90px;
    padding: 7%;
}
.viewer-body{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.viewer-container{
    width: 95%;
    max-width: 130rem;
    height: 32rem;
    background-color: #575757;
    display: flex;
    margin-bottom: 3rem;
    box-shadow: 0 0 1.5rem .1rem #3d3d3d;
}
.viewer-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 0.1rem;
    background: linear-gradient(#c2baba, #575757);
    border-radius: 1px;
    cursor: pointer;
    filter: grayscale(0.5);
    transition: 0.7s;
}
.viewer-container img:hover{
    padding: 0.2rem;
    width: 300%;
    filter: grayscale(0);
    margin-top: -1.5rem;
    height: 110%;
}
.about{
    padding: 7% 7%;
}
.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
    gap: 15px;
    margin: 30px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-title {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    color: var(--text-color);
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;

}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns on medium screens */
    }
}

@media (max-width: 600px) {
    .image-gallery {
        grid-template-columns: repeat(1, 1fr); /* Switch to 1 column on small screens */
    }
    .lower-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
}
.lower-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.item {
    text-align: center;
    background: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 8px;
    
}

.item p {
    margin: 10px;
    font-size: 16px;
    color: #333;
}

.footer{
    padding: 40px 0;
    background-color: white;
}
.social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}
.social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 12px;
    opacity: 0.75;
}
.social a:hover{
    opacity: 1;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li h6, h4{
    color: inherit;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 5px 35px;
}
.footer ul li h6:hover{
    opacity: 1;
}




